<p><%= @child.name %>'s Profile Page</p>

<ul>
<% if @child.memories.any? %>
    <% @child.memories.each do |memory| %>
    <ul>
    <li> Memory: <%= link_to memory.title, child_memory_path(memory) %></li>
        <ul>
        <li>Memory Category: <%= memory.category.name %></li>
        <li>Memory Details: <%= memory.content %></li>
        <li>Memory Date: <%= memory.memory_date%>
        <li><%= link_to "Delete Memory", child_memory_path(memory.child, memory), :method => :delete %></li>
        </ul>
    </ul>
    <% end %>
<% else %>
        <%= @child.name %> doesn't have any memories yet!<br>
<% end %>
<br>
<%= link_to "Create a Memory", new_child_memory_path(@child) %>
</ul>