
<% if @user.children_with_memories.any? %>
    <%= @user.first_name %>'s Children</h4>
        <ul>
            <% @children.each do |child| %>
            <li><%= link_to child.name, child_path(child) %></li>
            <% end %>
        </ul>

    <p>Children you've made memories for</p>
    <ul>    
        <% @children_with_memories.each do |child| %>
            <li><%= link_to child.name, child_path(child) %></li>
        <% end %>
        </ul>
    <% else %>
    <%= @user.first_name %> doesn't have any children yet!
 <% end %>

 <br>
 <br>

<p><%= link_to "Create a Child", new_child_path %></p>
